<div class="header">
    <nav class=" navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Shubham Tiwari</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"  class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/skills" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">Skills</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/dsa" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">DSA Problems</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/wordle" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">Wordle</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/courses" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/percent-matters" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" (click)="redirect()" href="#">Percent Matter</a>
                </li>
            </ul>
        </div>
        <div *ngIf="!authService.isLoggedIn" class="text-right"><button class="" (click)="authService.GoogleAuth()">Signin with Google</button></div>
        <div *ngIf="authService.isLoggedIn" class="text-right">Hi, {{authService.userData.displayName | uppercase }} <button class="" (click)="authService.SignOut()"> Logout</button></div>
    </nav>
</div>