.courses{
    margin-left: 40px;
}

.course{
    margin-top: 30px;
    width: 300px;
    background-color: black;
    color: white;
    font-family: myFont;
}
a{
    background-color: white;
    color: black;
}

.java{
    background-color: #F7A4A4;
    color: black;
}

.advjava{
    background-color: #FEBE8C;
    color: black;
}

.spring{
    background-color: #4D77FF;
    color: black;
}

.mysql{
    background-color: #AB46D2;
    color: black;
}

.course img{
    height: 170px;
    background-color: white;
    padding: 3px;
}

.dsa{
    background-color: #FA7070;
    color: black;
}

.systemdesign{
    background-color: #FF7F3F;
    color: black;
}