<div class="container courses">
    <div class="row">
        <div class="col-sm">
            <div class="card course java">
                <img src="assets/images/java.jpg" class="card-img-top" alt="java">
                <div class="card-body text-center">
                    <h5 class="card-title">Core Java</h5>
                    <p class="card-text">In this courses all core java concepts will covered in detail.</p>
                    <a href="#" class="btn">Starting Soon...</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card course advjava">
                <img src="assets/images/java.jpg" class="card-img-top" alt="adv_java">
                <div class="card-body text-center">
                    <h5 class="card-title">J2EE</h5>
                    <p class="card-text">In this courses all j2ee concepts will covered in detail.</p>
                    <a href="#" class="btn">Starting Soon...</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card course spring">
                <img src="assets/images/spring.png" class="card-img-top" alt="java">
                <div class="card-body text-center">
                    <h5 class="card-title">Spring Framework</h5>
                    <p class="card-text">In this courses all spring framework concepts will covered in detail.</p>
                    <a href="#" class="btn">Starting Soon...</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card course mysql">
                <img src="assets/images/mysql.png" class="card-img-top" alt="java">
                <div class="card-body text-center">
                    <h5 class="card-title">MySQL</h5>
                    <p class="card-text">In this courses all mysql concepts will covered in detail.</p>
                    <a href="#" class="btn">Starting Soon...</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card course dsa">
                <img src="assets/images/test.png" class="card-img-top" alt="java">
                <div class="card-body text-center">
                    <h5 class="card-title">DSA</h5>
                    <p class="card-text">In this courses all DSA concepts will covered in detail.</p>
                    <a href="#" class="btn">Starting Soon...</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card course systemdesign">
                <img src="assets/images/test.png" class="card-img-top" alt="java">
                <div class="card-body text-center">
                    <h5 class="card-title">System Design</h5>
                    <p class="card-text">In this courses all system design concepts will covered in detail.</p>
                    <a href="#" class="btn">Starting Soon...</a>
                </div>
            </div>
        </div>

    </div>
</div>