<div class="container projects">
    <div class="row text-center">
        <div class=" col-sm-12">
            <h1>Work Experience</h1><hr>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm">
            <ul>
                <li><b>Company Name:</b> Wissen Technology</li>
                <li><b>Designation:</b> Software Engineer</li>
                <li><b>Worked from:</b> SEP-2021 - Present</li>
                <li><b>Projects:</b>
                    <ul>
                        <li><b>BARRAONE Optimization (MSCI Inc.): </b> Achieved performance gain by
                            developing new microservice with Java to pick jobs based different
                            parameters. Reduced server cost by 30% compared to legacy
                            implementation.</li>
                    </ul>
                </li>
              </ul>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm">
            <ul>
                <li><b>Company Name:</b> Amiti Software Technologies PVT. LTD</li>
                <li><b>Designation:</b>Software Developer</li>
                <li><b>Worked from:</b> Apr 2019 - Sep-2021</li>
                <li><b>Projects:</b>
                    <ul>
                        <li><b>CR Tool (Openlane Inc.): </b> CR Tool displays vehicles damage report
                            received by third party inspections and allows dealers to modify
                            damages by taking pictures etc. and speed up inspection process.</li>
                        <li><b>Turn-In Tool (Openlane Inc.): </b> Turn-In Tool is a web-based tool built for
                            the dealers of Volkswagen Credit Canada Inc. (VCCI), to facilitate the
                            return process of lease vehicles in Canada.</li>
                    </ul>
                </li>
              </ul>
        </div>
    </div>
    <div class="row text-center">
        <div class=" col-sm-12">
            <h1>Other Projects</h1><hr>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm">
            <ul>
                <li><b>Classified: </b> A free advertisement posting website for students to
                    sell/buy their college stuff at cheap price or exchange of items.</li>
                <li><b>Locations: </b> Locations is a single window web-app where film makers
                    can look and book locations for shooting and get necessary
                    permissions without any hassle.</li>
            </ul>
        </div>
    </div>
</div>
