<div class="container skills">
    <div class="row text-center">
      <div class="col-sm skilltype">
        <h1>Languages</h1><hr/>
        <div>
            <h4>Java</h4>
        </div>
      </div>
      <div class="col-sm skilltype">
        <h1>Framework</h1><hr/>
        <div>
            <h4>Hibernate</h4>
            <h4>Spring Boot</h4>
        </div>
      </div>
      <div class="col-sm skilltype">
        <h1>Database</h1><hr/>
        <div>
            <h4>MySQL</h4>
        </div>
      </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4 skilltype">
            <h1>Tools</h1><hr/>
            <div>
                <h4>Eclipse</h4>
                <h4>GitHub</h4>
                <h4>Maven</h4>
                <h4>Jira</h4>
            </div>
          </div>
    </div>
  </div>
