  <div class="container home">
    <div class="row ">
      <div class=" col-sm-4">
        <img class="myimage" src="assets/images/shubham.jpg" alt="Image">
      </div>
      <div class="content col-sm-8">
        <h1>Hi, I am Shubham Tiwari and currently working as a Software Engineer at Wissen Technology with over 
          4+ years of experience. </h1>
          <div>
            <a href="https://twitter.com/itiwarishubham" target="_blank"><i class="fab fa-twitter socials"></i></a>

            <a href="https://www.instagram.com/itiwarishubham1/" target="_blank"><i class="fab fa-instagram socials"></i></a>

            <a href="https://linkedin.com/in/itiwarishubham" target="_blank"><i class="fab fa-linkedin-in socials"></i></a>

            <a href="https://github.com/itiwarishubham/" target="_blank"><i class="fab fa-github socials"></i></a>

            <a href="https://discord.gg/U86CUJCs" target="_blank"><i class="fab fa-discord socials"></i></a>
          </div>

      </div>
    </div>
  </div>
  